@import url(//fonts.googleapis.com/css?family=Fira+Sans:700|Source+Code+Pro|Libre+Baskerville);

.container {
    margin-top: 40px;
}

.code{
    font-family: 'Source Code Pro', serif;
    font-weight: 700;
}

.subtitle {
    padding-left: 15px;
}

h1, h2, h3, h4, h5{
    font-family: 'Fira Sans', sans-serif;

}

.top-heading{
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.top-heading h1{
    display: inline-block;
    margin-bottom: 0;
}

.profile-left{
    margin-top: 20px;
}

img.profile-photo {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 3px solid #ccc;
    display: block;
}

.profile-caption{
    font-size: 1em;
    margin-top: 10px;
}

.profile-caption .fa{
    display: inline-block;
    height: 14px;
    width: 14px;
}

.profile-caption a{
    margin-left: 5px;
}

#profiles {
    font-size: 1.5em;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1.5;
}

#profiles a {
    margin-left: 5px;
}

#profiles a:hover{
    color: #337ab7;
}

#profiles .fa {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}

.divider {
    margin-top: 15px;
    margin-bottom: 0px;
    border-bottom: 1px solid #e2e2e2;
}

body.with-navbar { padding-top: 70px; }


.navbar-brand{
    padding: 5px 15px 0 15px;
}

.navbar-brand img {
    border-radius: 100%;
    display: inline-block;
}

.navbar-brand span{
    display: inline-block;
    vertical-align: middle;
    font-family: 'Fira Sans', sans-serif;
    padding-top: 4px;
    padding-left: 10px;
}

.post-content{
    font-family: 'Libre Baskerville', serif;
    font-size: 1.2em;
    border-top: 1px solid #e2e2e2;
    padding-top: 25px;
    margin-top: 10px;
}

.post-date {
    text-align: right;
    font-family: 'Fira Sans', sans-serif;
}

@media (max-width: 768px) {
    body{
        max-width: 100%;
        overflow-x: hidden;
    }

    .container{
        margin-top:10px;
        margin-bottom: 50px;
    }

    h1{
        display: block;
    }

    .top-heading{
        text-align: center;
        padding-bottom: 20px;
    }

    .subtitle{
        display: block;
        padding: 0;
    }

    #profiles{
        margin: auto 20px   ;
    }

    #profiles .fa{
        float: right;
    }
}
