@import url(http://fonts.googleapis.com/css?family=Fira+Sans:700|Source+Code+Pro|Roboto);

.container {
    margin-top: 40px;
}

.code{
    font-family: 'Source Code Pro', serif;
    font-weight: 700;
}

h1{
    font-family: 'Fira Sans', sans-serif;
    display: inline-block;
}

.top-heading{
    border-bottom: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.top-heading h1{
    margin-bottom: 0;
}

img.profile-photo {
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: 3px solid #ccc;
    display: block;
}

.profile-caption{
    font-size: 1em;
    margin-top: 10px;
}

.profile-caption .fa{
    display: inline-block;
    height: 14px;
    width: 14px;
}

.profile-caption a{
    margin-left: 5px;
}

#profiles {
    font-size: 1.5em;
    font-family: 'Droid Sans', sans-serif;
    line-height: 1.5;
}

#profiles a {
    margin-left: 5px;
}

#profiles a:hover{
    color: #337ab7;
}

#profiles .fa {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
}
