
nav {
    margin-top: 20px;
}

nav ul li {
    margin-bottom: 15px;

}

nav ul li img {
    height: 32px;
    width: 32px;
    opacity: 1.0;
    transition: opacity .6s ease-out;

}

nav ul li img:hover {
    opacity: 0.5;
    transition: opacity .6s ease-in;
    cursor: pointer;
}
