---
---
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>{{ page.title }}</title>
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

		<!-- Optional theme -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

		<!-- Fonts -->
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

		<!-- Local stylesheet -->
		<link rel="stylesheet" href="/css/home.css">

		<!-- Latest compiled and minified JavaScript -->
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

		<script>
			var blog_posts = [
			{% for post in site.posts limit:30 %}
				{'url': '{{ post.url }}', 'date': '{{ post.date | date: "%Y-%m-%d" }}', 'title': '{{post.title}}' },
			{% endfor %}
			];
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">

			<div class="row">

			</div>
			<div class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-2 profile-left">
					<img class="profile-photo center-block" src="http://www.gravatar.com/avatar/968d5dfb184edf2642ef5fdc53055738?s=150">
					<div class="profile-caption text-center">
						<div>
							<i class="fa fa-location-arrow"></i>
							<span><a href="https://www.google.com/maps/place/Austin,+TX/">Austin, TX</a></span>
						</div>
						<div>
							<i class="fa fa-briefcase"></i>
							<span><a href="https://www.atlassian.com">Atlassian</a></span>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-4">
					<div class="top-heading">
						<h1>Mark Adams</h1>
						<span class="code">software developer</span>
					</div>
					<div id="profiles">
						{% for profile in site.data.profiles %}
						<div>
							<i title="{{ profile.title }}" class="fa {{ profile.icon }}"></i>
							<a href="{{ profile.link }}" rel="me">{{ profile.label }}</a>
						</div>
						{% endfor %}
					</div>

				</div>
			</div>



			<!--
			<nav>
				<ul>
					{% for item in site.data.menu %}
					<li><a href="{{ item.link }}"><img src="{{ item.icon }}" title="{{ item.title }}" /></a></li>
					{% endfor %}
				</ul>
			</nav>
			<div id="posts">
				<h2>Recent posts...</h2>
				<ul class="c">
					{% for post in site.posts limit:5 %}
					<li>
						<a href="{{ post.url }}">{{ post.date | date: "%Y.%m.%d" }} .. {{ post.title }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
			-->


		</div>

	</body>
</html>
